/*! iphone */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#iphone {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(imageIphone/trellis.jpg);
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 800px;
    border: solid 10px rgb(20, 20, 20);
    border-radius: 40px;
}

#iphone.black-background {
    background: black;
}

#visor{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 32px;
    width: 55%;
    gap: 15px;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#cameraOne{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: black;
}

#speaker{
    width: 50px;
    height: 10px;
    border-radius: 25px;
    background-color: black;
}

#cameraTwo{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}
/*! iphone */

/*? sound and screen */
.buttonExternal{
    position: absolute;
    border: none;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
}

#buttonSoundOnOff{
    height: 40px;
    width: 10px;
    top: 70px;
    left: -15px;
}

#buttonSoundAdd{
    height: 50px;
    width: 10px;
    top: 130px;
    left: -15px;
}

#buttonSoundVolume{
    height: 50px;
    width: 10px;
    top: 185px;
    left: -15px;
}

#buttomScreenOnOff{
    height: 70px;
    width: 10px;
    top: 170px;
    right: -15px;
}

.stateSound{
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 195px;
    height: 45px;
    top: 45px;
    background-color: white;
    border-radius: 20px;
}

.bell{
    width: 25vw;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mode{
    flex-direction: column;
    position: relative;
    width: 75vw;
    gap: 4px;
    right: 18px;
    text-align: center;
}

#sound{
    display: none;
    background-color: rgb(38, 37, 37);
    text-align: center;
    width: 50px;
    height: 120px;
    top: 125px;
    left: 15px;
    border-radius: 15px;
    z-index: 1;
    position: absolute;
}

#iconSound{
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
    left: 12px;
    bottom: 10px;
    background-repeat: no-repeat;
}
/*? sound and screen */

/*TODO iphoneDisplay */
#iphoneDisplay{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*! header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6%;
}

#time, #attributes{
    position: relative;
    user-select: none;
    font-size: 20px;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 22.5%;
    top: 8px;
}

#fakeVisor{
    height: 100%;
    width: 55%;
}

.icon{
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#signal{
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 15a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0v-3a1 1 0 0 0-1-1m4-3a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1m8-8a1 1 0 0 0-1 1v14a1 1 0 0 0 2 0V5a1 1 0 0 0-1-1m-4 4a1 1 0 0 0-1 1v10a1 1 0 0 0 2 0V9a1 1 0 0 0-1-1'/%3E%3C/svg%3E");
}

#wifi{
    width: 21px;
    height: 21px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m6.35 15.35l-2.1-2.15q1.55-1.55 3.55-2.375T12 10t4.213.838t3.537 2.412l-2.1 2.1q-1.125-1.125-2.588-1.737T12 13t-3.062.613T6.35 15.35M2.1 11.1L0 9q2.375-2.425 5.488-3.713T12 4t6.513 1.288T24 9l-2.1 2.1q-1.975-1.975-4.538-3.037T12 7T6.637 8.063T2.1 11.1M12 21l-3.525-3.55q.7-.7 1.613-1.075T12 16t1.913.375t1.612 1.075z'/%3E%3C/svg%3E");
}

#battery{
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' d='M16 6H4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m6 7v-2a1 1 0 0 0-1-1v4a1 1 0 0 0 1-1'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 6H4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m6 7v-2a1 1 0 0 0-1-1v4a1 1 0 0 0 1-1'/%3E%3C/g%3E%3C/svg%3E");
}
/*! header */

/*? main */
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 74%;
}

.blockApps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 155px;
    height: 175px;
    gap: 10px;
}

#gadgets, #clockBig {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 155px;
    background-color: aqua;
    border-radius: 20px;
}

.blockApp{
    width: 62px;
    height: 62px;
    border-radius: 15px;
    background-color: aqua;
    position: relative;
}

.nameAppBig{
    position: relative;
    user-select: none;
    font-size: 15px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 7px;
}

.nameApp{
    position: relative;
    user-select: none;
    text-align: center;
    font-size: 15px;
    top: 65px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*? main */

/*! footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

#buttonSearch{
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    border: none;
    gap: 4px;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background-color: rgb(176, 171, 171);
}

#search{
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M456.69 421.39L362.6 327.3a173.81 173.81 0 0 0 34.84-104.58C397.44 126.38 319.06 48 222.72 48S48 126.38 48 222.72s78.38 174.72 174.72 174.72A173.81 173.81 0 0 0 327.3 362.6l94.09 94.09a25 25 0 0 0 35.3-35.3M97.92 222.72a124.8 124.8 0 1 1 124.8 124.8a124.95 124.95 0 0 1-124.8-124.8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

#bottonMenu{
    width: 360px;
    height: 95px;
    align-self: center;
    background-color: rgb(176, 171, 171);
    border-radius: 25px;
}

#collapseButton{
    position: absolute;
    display: none;
    align-self: center;
    z-index: 1;
    bottom: 8px;
    height: 8px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: white;
}

#collapseButton.black-background {
    background: black;
}
/*! footer */

/*? Calculator */
.backCalculator{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.tcalc{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.mcalc{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bcalc{
    display: flex;
    flex-direction: row;
    gap: 18px;
    height: 20%;
    width: 100%;
    justify-content: center;
}

.resultCalc{
    position: relative;
    width: 100%;
    height: 80px;
    bottom: 10px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 65px;
    color: white;
    user-select: none;
}

.zero{
    border-radius: 50px;
    width: 175px;
    height: 80px;
    background: blue;
    font-size: 30px;
    border: none;
    color: white;
    background-color: rgba(52,52,52,255);
}

.buttonCalc{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background: blue;
    font-size: 35px;
    border: none;
    color: white;
}

.blackCalc{
    background-color: rgba(52,52,52,255);
}

.orangeCalc{
    background-color: rgba(255,159,10,255);
}

.grayCalc{
    color: black;
    background-color: rgba(165,165,165,255);
}
/*? Calculator */

/*TODO iphoneDisplay */